section#ranking.ranking
    table
        thead
            th Grade
            th Joueur
            th Points
        tbody
            if user
                tr
                    td= user.rank
                    td= user.username
                    td= user.pointsCount
            each user in users
                tr
                    td= user.rank
                    td= user.username
                    td= user.pointsCount