extends inc/head.jade

block title
    title Choose your battlefield
block styles
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')

block content

    include inc/overlays.jade

    section#switching-content.switching-content
        div.wrapper
            include inc/header.jade

            section.content
                include inc/player-info.jade

                div.link-wrapper
                    a.tutorial-link.link-effect(href='/tutorial' title='Vers l\'aide de jeu' target='_blank') Guide du jeu

                h1 Salles de jeu

                h2 Créez votre propre salle
                div.create-room-container
                    input#room-name-input(type='text', maxlength="20", placeholder='Nom de la salle') 
                    button#create-room.button-effect Créer une salle
            
                h2 Rejoignez une salle

                p#rooms-count.rooms-count
                ul#rooms.rooms-list

                div.push

        include inc/footer.jade
        
    script(src='/socket.io/socket.io.js')
    script.
        var playerInfos = {
            name: "#{user.username}",
            grade: "#{user.rank}",
            globalPoints: parseInt("#{user.pointsCount}"),
            img: "#{user.rankIcon}",
            _id: "#{user._id}",
            //games: "#{user.games}",
            id: undefined
        }
    script(src='/javascripts/prototype.js')
    script(src='/javascripts/ajax.js')
    script(src='/javascripts/navigation.js')
    script(src='/javascripts/pages/rooms.js')
    script(src='/javascripts/initiating.js')
    script(src='/javascripts/grid.js')
    script.
        initPlayerInfo();